.container {
    display: flex;
    flex-direction: column;
    width: 36px;
    cursor: pointer;

    span {
        background: $black;
        border-radius: 10px;
        height: 4px;
        margin: 4px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
        width: 50%;
    }

    span:nth-of-type(2) {
        width: 100%;
    }

    span:nth-of-type(3) {
        width: 75%;
    }
}
