.button {
    font-family: $text_main;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;

    transition: background .1s ease-in-out;
}

.button.theme_dark {
    background: $firm;
    color: $white;
    
    &:focus,
    &:hover {
        background: lighten($color: $firm, $amount: 10);
    }

    &:active {
        background: lighten($color: $firm, $amount: 20);
    }

    &:disabled {
        background: $firm;
        opacity: 0.54;
    }
}

.button.theme_light {
    background: $firm_sub;
    color: $black;
    
    &:focus,
    &:hover {
        background: darken($color: $firm_sub, $amount: 10);
    }

    &:active {
        background: darken($color: $firm_sub, $amount: 20);
    }

    &:disabled {
        background: $firm_sub;
        opacity: 0.54;
    }
}

.button.size {
    &_small {
        min-width: 120px;
        padding: $pad2 $pad6;
        font-size: $font_sm;
    }
    
    &_normal {
        min-width: 200px;
        padding: $pad4 $pad8;
        font-size: $font_md;
    }
    
    &_large {
        min-width: 200px;
        padding: $pad6 $pad10;
        font-size: $font_xl;
    }
}

