.header {
    background: $white;
    height: 80px;
    box-shadow: 0px 3px 18px 3px rgba(34, 60, 80, 0.2);
    left: 0;
    top: 0;
    width: 100%;

    .headerContent {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: $screen_sm) {
        display: none;
    }
}

.navigation {
    display: flex;
    align-items: center;
    gap: $pad4;

    .navigationItem {
        color: $faded_black;
        transition: color .3s ease-in;

        &.current, &:hover, &:focus {
            color: $black;
        }        
    }
}

.contacts {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    p:nth-child(2) {
        color: $faded_black;
    }
}