.container {
    margin: 0 auto;
    width: 100%;
    min-width: 1px;
    padding: $pad2; 
}

@media (max-width: 600px) {
    .container {
        padding: 0 $pad4;
    }
}

@media (min-width: 600px) {
    .container {
        width: $screen_xs;
    }
}

@media (min-width: 800px) {
    .container {
        width: $screen_sm;
    }
}

@media (min-width: 1060px) {
    .container {
        width: $screen_md;
    }
}

@media (min-width: 1240px) {
    .container {
        width: $screen_lg;
    }
}
