.tabs {
    display: flex;

    .tab {
        display: block;
        overflow: hidden;
        min-width: 100px;
        font-size: $font_md;
        padding: $pad4;
        background: $firm_sub;
        color: $black;
        text-align: center;
        cursor: pointer;

        &.active {
            background: $firm;
            color: $white;
        }

        &:first-child {
            border-radius: 12px 0 0 12px;
        }

        &:last-child {
            border-radius: 0 12px 12px 0;
        }
    }
}

.input {
    appearance: none;
}