---
import { Container } from '@/uikit/Container/Container';
import Layout from '../layouts/Layout.astro';
---

<Layout title="" currentPath="/about">
    <main>
        <Container>
            <h1 class="heading">Здесь будет список статей о компании</h1>
        </Container>
    </main>
</Layout>

<style lang="scss">
    .heading {
        margin-top: $pad10;
        font-size: $font_xxxl;
        text-align: center;
        font-family: $text_accent;
    }

    .brandsList {
        margin-top: $pad8;

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: $pad10;
    }

    .brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: $pad2;

        .brand__button {
            width: fit-content;
        }
    }
</style>
