---
import { WithBrandDialog } from '@/components/BrandDialog';
import { Container } from '@/uikit/Container/Container';
import BrandsList from '@/components/BrandsList/index.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="" currentPath="/brands">
    <main>
        <Container>
            <h1 class="heading">Бренды, с которыми мы работаем</h1>

            <WithBrandDialog client:load>
                <BrandsList />
            </WithBrandDialog>
        </Container>
    </main>
</Layout>

<style lang="scss">
    .heading {
        margin-top: $pad10;
        font-size: $font_xl;
        text-align: center;
        font-family: $text_accent;
    }

    @media (min-width: $screen_sm) {
        .heading {
            font-size: $font_xxxl;
        }
    }
</style>
