---
import { Container } from '@/uikit/Container/Container';
import Layout from '../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';
import { FullscreenImage } from '@/components/FullScreenImage/FullScreenImage';
import { ButtonLink } from '@/uikit/ButtonLink/ButtonLink';
---

<Layout title="Welcome to Astro." currentPath="/">
    <main>
        <FullscreenImage src="/images/main_image.png">
            <Container class="intro">
                <h1 class="intro__heading">
                    Je t'aime - это любовь к каждому сантиметру вашего тела
                </h1>

                <div>
                    <ButtonLink theme="light" size="normal" href="/shops"
                        >Найти магазин</ButtonLink
                    >
                </div>
            </Container>
        </FullscreenImage>

        <section class="section">
            <Container>
                <h2 class="heading">Почему вам понравятся наши продукты?</h2>

                <div class="advantages">
                    <div class="advantage">
                        <Image
                            alt=""
                            width={260}
                            aspectRatio="1:1"
                            loading="lazy"
                            fit="cover"
                            src={'/images/advantages/T_2.png'}
                            class="advantage__image"
                        />

                        <p class="advantage__content">
                            В нашем магазине можно познакомиться с различными
                            марками одежды. Также у нас вы найдёте дизайнерские
                            изделия в единственном экземпляре.
                        </p>
                    </div>

                    <div class="advantage">
                        <Image
                            alt=""
                            width={260}
                            aspectRatio="1:1"
                            loading="lazy"
                            fit="cover"
                            src={'/images/advantages/T_1.png'}
                            class="advantage__image"
                        />

                        <p class="advantage__content">
                            Мы с большой заботой относимся к нашим покупателям,
                            поэтому предоставляем изделия из натуральных и
                            экологических тканей.
                        </p>
                    </div>

                    <div class="advantage">
                        <Image
                            alt=""
                            width={260}
                            aspectRatio="1:1"
                            loading="lazy"
                            fit="cover"
                            src={'/images/advantages/T_3.png'}
                            class="advantage__image"
                        />

                        <p class="advantage__content">
                            Благодаря большому выбору различных стилей и моделей
                            одежды, вы сможете подобрать вещи, которые без труда
                            вольются в ваш гардероб.
                        </p>
                    </div>
                </div>

                <div class="quote">
                    Базовая идея нашей коллекции – элегантность в повседневной
                    жизни. Мы создаем вещи, в которых Вы будете ощущать себя
                    комфортно и стильно
                </div>

                <div aria-hidden="true" class="advantages-gallery">
                    <Image
                        alt=""
                        width={320}
                        aspectRatio="1:1"
                        loading="lazy"
                        fit="cover"
                        src={'/images/kashemire/kashemire_2.jpg'}
                        class="advantages-gallery__item"
                    />

                    <Image
                        alt=""
                        width={320}
                        aspectRatio="1:1"
                        loading="lazy"
                        fit="cover"
                        src={'/images/kashemire/kashemire_1.png'}
                        class="advantages-gallery__item"
                    />

                    <Image
                        alt=""
                        width={320}
                        aspectRatio="1:1"
                        loading="lazy"
                        fit="cover"
                        src={'/images/kashemire/kashemire_3.jpg'}
                        class="advantages-gallery__item"
                    />
                </div>

                <div class="bottom-button">
                    <ButtonLink size="normal" theme="dark" href="/shops"
                        >Найти магазин</ButtonLink
                    >
                </div>
            </Container>
        </section>

        <section class="section bg-secondary">
            <Container>
                <h2 class="heading">Бренды с которыми мы работаем</h2>

                <div class="brands-list">
                    <div class="brand">
                        <Image
                            background="#FAF7F4"
                            alt=""
                            class="article__image"
                            position="center"
                            fit="contain"
                            width={200}
                            aspectRatio="16:9"
                            src="/images/brands/revera.png"
                        />

                        <img src="" />
                    </div>
                    <div class="brand">
                        <Image
                            background="#FAF7F4"
                            alt=""
                            class="article__image"
                            position="center"
                            fit="contain"
                            width={200}
                            aspectRatio="16:9"
                            src="/images/brands/igoryork.png"
                        />
                    </div>
                    <div class="brand">
                        <Image
                            background="#FAF7F4"
                            alt=""
                            class="article__image"
                            position="center"
                            fit="contain"
                            width={200}
                            aspectRatio="16:9"
                            src="/images/brands/radical_chic.png"
                        />
                    </div>
                    <div class="brand">
                        <Image
                            background="#FAF7F4"
                            alt=""
                            class="article__image"
                            position="center"
                            fit="contain"
                            width={200}
                            aspectRatio="16:9"
                            src="/images/brands/lessel.png"
                        />
                    </div>
                </div>

                <div class="bottom-button">
                    <ButtonLink size="normal" theme="dark" href="/brands"
                        >Полный список</ButtonLink
                    >
                </div>
            </Container>
        </section>

        <!-- <section hidden class="section">
            <Container>
                <h2 class="heading">Статьи о нас</h2>

                <di class="articles">
                    <div class="article">
                        <Image
                            alt=""
                            class="article__image"
                            width={200}
                            height={200}
                            src="/images/advantage_1.png"
                        />

                        <div class="article__description">
                            <h3 class="article__heading">Наша история</h3>
                            <p class="article__content">
                                Краткое описание статьи Краткое описание статьи
                                Краткое описание статьи Краткое описание статьи
                            </p>
                            <a class="article__link" href="/articles/history">
                                Подробнее
                            </a>
                        </div>
                    </div>

                    <div class="article">
                        <Image
                            alt=""
                            class="article__image"
                            width={200}
                            height={200}
                            src="/images/advantage_1.png"
                        />

                        <div class="article__description">
                            <h3 class="article__heading">Наша история</h3>
                            <p class="article__content">
                                Краткое описание статьи Краткое описание статьи
                                Краткое описание статьи Краткое описание статьи
                            </p>
                            <a class="article__link" href="/articles/history">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </di>
            </Container>
        </section> -->

        <section class="section">
            <Container>
                <div class="action_blocks">
                    <div class="action">
                        <h3 class="action__heading">Хотите сотрудничать?</h3>

                        <p class="action__description">
                            Заинтересованы в нашем магазине и хотите
                            присоединиться?
                        </p>

                        <ButtonLink
                            href="/join-us"
                            class="action__button"
                            theme="dark"
                        >
                            Присоединиться
                        </ButtonLink>
                    </div>

                    <div class="action">
                        <h3 class="action__heading">Ищете магазин?</h3>

                        <p class="action__description">
                            Найдите интересующий вас магазин на нашей карте
                        </p>

                        <ButtonLink
                            href="/shops"
                            class="action__button"
                            theme="dark"
                        >
                            На карту
                        </ButtonLink>
                    </div>
                </div>
            </Container>
        </section>
    </main>
</Layout>

<style lang="scss">
    .section {
        padding-top: 2rem;
        padding-bottom: 2rem;

        @media (min-width: $screen_md) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }

    .bg-secondary {
        background: $firm_soft;
    }

    .bottom-button {
        margin-top: $pad16;
        display: flex;
        justify-content: center;
    }

    .heading {
        font-family: $text_accent;
        font-weight: normal;
        text-align: center;
        font-size: 1.5rem;

        margin-bottom: 8px;

        @media (min-width: $screen_md) {
            font-size: 2.5rem;
        }
    }

    .intro {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $pad10;

        .intro__heading {
            font-size: 1.5rem;
            font-family: $text_accent;
            font-weight: normal;
            text-align: center;
            color: $white;

            @media (min-width: $screen_md) {
                font-size: 2.5rem;
            }
        }
    }

    .advantages {
        margin-top: $pad12;

        display: flex;
        gap: $pad8;
        flex-direction: column;

        @media (min-width: $screen_md) {
            flex-direction: row;
        }

        .advantage {
            flex: 1 0 1px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: $pad2;
            text-align: center;

            .advantage__title {
                font-size: $font_xl;
                font-weight: 500;
            }

            &:nth-child(3) > .advantage__image {
                transform: translateY(-16px);
            }

            .advantage__content {
                line-height: 1.4;
                font-weight: normal;
            }
        }
    }

    .quote {
        font-family: $text_accent;
        padding: $pad4;
        font-size: $font_md;
        padding-left: $pad8;
        color: $black;
        width: 100%;
        margin: $pad8 auto;
        position: relative;

        &::after {
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 2px;
            background: $black;
            position: absolute;
        }

        @media (min-width: $screen_xs) {
            font-size: $font_xl;
            width: 80%;
        }
    }

    .advantages-gallery {
        display: flex;
        flex-wrap: nowrap;
        gap: $pad8;
        flex-direction: column;
        align-items: center;

        &__item {
            aspect-ratio: 1 / 1;
            overflow: hidden;
            border-radius: 16px;
            object-fit: cover;
            object-position: center;
        }

        @media (min-width: $screen_sm) {
            flex-direction: row;

            &__item {
                flex: 1 0 1px;
            }
        }
    }

    .brands-list {
        margin-top: $pad10;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: $pad4;

        .brand {
            & > img {
                min-width: 1px;
            }
        }

        @media (min-width: $screen_sm) {
            flex-direction: row;
            .brand {
                flex: 1 0 1px;
            }
        }
    }

    .articles {
        margin-top: $pad10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $pad10;

        .article {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .article__image {
                object-fit: cover;
                object-position: center;
                border-radius: 12px;
                overflow: hidden;
            }

            .article__description {
                padding: $pad4 $pad8;
            }

            .article__heading {
                color: $black;
                font-weight: normal;
                font-size: $font_xl;
            }

            .article__content {
                color: $gray;
                max-width: 600px;
                font-size: $font_md;
            }

            .article__link {
                display: block;
                margin-top: $pad4;
                color: $firm;
            }
        }

        @media (min-width: $screen_sm) {
            .article {
                align-items: flex-start;
                text-align: start;
                flex-direction: row;
            }
        }
    }

    .action_blocks {
        display: flex;
        flex-direction: column;
        gap: $pad4;

        .action {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: $pad6;
            background: $firm_soft;
            border-radius: 12px;
            overflow: hidden;

            .action__heading {
                font-size: $font_xxl;
                font-family: $text_accent;
            }

            .action__description {
                margin-top: $pad2;
                line-height: 1.2;
                font-size: $font_md;
                color: $black;
            }

            .action__button {
                margin-top: 24px;
            }
        }

        @media (min-width: $screen_sm) {
            flex-direction: row;

            .action {
                border-radius: 16px;
                .action__button {
                    margin-top: $pad10;
                }
            }
        }
    }
</style>
