---
import { PartnershipForm } from '@/components/PartnershipForm';
import { Container } from '@/uikit/Container/Container';
import Layout from '../layouts/Layout.astro';
---

<Layout title="" currentPath="/join-us">
    <main>
        <Container>
            <h1 class="heading">Предложить сотрудничество</h1>

            <PartnershipForm />
        </Container>
    </main>
</Layout>

<style lang="scss">
    .heading {
        margin-top: $pad10;
        font-size: $font_xl;
        text-align: center;
        font-family: $text_accent;
    }

    @media (min-width: $screen_sm) {
        .heading {
            font-size: $font_xxxl;
        }
    }
</style>
