---
import { MapPage } from '@/components/Map/components/MapPage';
import { EmploymentForm } from '@/components/EmploymentForm';
import { shops } from '@/data/shops';
import Layout from '../layouts/Layout.astro';
import { Container } from '@/uikit/Container/Container';
---

<script
    defer
    src="https://api-maps.yandex.ru/2.1/?apikey=33e26001-aa75-4b32-98e5-c2b8696dbc3f&lang=ru_RU"
    type="text/javascript"
></script>

<Layout title="Наши магазины" currentPath="/shops">
    <main class="container">
        <Container>
            <h1 class="heading">Наши магазины</h1>

            <div>
                <MapPage client:only shops={shops} />
            </div>

            <h1 class="heading employmentFormHeading">
                Хотите работать у нас?
            </h1>

            <EmploymentForm client:load />
        </Container>
    </main>
</Layout>

<style lang="scss">
    .container {
        padding-top: $pad6;
    }

    .heading {
        margin-bottom: $pad6;
        font-size: $font_xl;
        text-align: center;
        font-family: $text_accent;
    }

    .employmentFormHeading {
        margin-top: $pad10;
    }

    @media (min-width: $screen_sm) {
        .heading {
            font-size: $font_xxxl;
        }
    }
</style>
