.wrapper {
    display: block;
}

.label {
    font-size: $font_md;
    font-family: $text_main;
}

.input {
    padding: $pad4;
    background: $light_gray;
    color: $black;
    font-size: $font_md;
    font-family: $text_main;
    border-radius: 8px;
    width: 100%;
}

.input::placeholder {
    color: $medium_gray;
}