---
import { createNavigationRoutes, NavigationItem } from '@/shared/navigation';
import { HeaderDesktop } from './components/HeaderDesktop';
import { HeaderMobile } from './components/HeaderMobile';

export interface Props {
    currentPath: string;
}

const articles = await Astro.glob('../../pages/articles/*.md');
const articlesRoutes: NavigationItem[] = articles.map((article) => ({
    name: article.frontmatter.title,
    path: article.url as string,
}));

const navigationRoutes = createNavigationRoutes({ articlesRoutes });
---

<>
    <HeaderDesktop
        client:load
        currentPath={Astro.props.currentPath}
        navigationItems={navigationRoutes}
    />
    <HeaderMobile client:load navigationItems={navigationRoutes} />
</>

<style lang="scss"></style>
