.tabs {
    margin-bottom: $pad4;
}

.mapRow {
    display: flex;
    flex-direction: column;
    gap: $pad4;
    
    .itemsList {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 160px;
        gap: $pad2;
    }

    .map {
        width: 100%;
        height: 200px;
    }

    @media (min-width: $screen_sm) {
        flex-direction: row;
        align-items: flex-start;

        .itemsList {
            flex: 0 0 320px;
            height: 400px;
        }

        .map {
            flex: 1 0 1px;
            height: 400px;
        }
    }
}

.listItem {
    flex: 0 0 auto;

    padding: $pad4;
    font-family: $text_main;
    border-radius: 8px;
    overflow: hidden;
    background: $light_gray;
    cursor: pointer;

    .locationType {
        color: $dark_gray;
        font-size: $font_sm;
    }

    .location {
        color: $black;
        font-size: $font_md;
    }

    &.active {
        background: $firm_soft;
    }
}

