.formContainer {
    width: 100%;
    margin: 0 auto;
    margin-top: $pad4;
    max-width: 600px;
}

.formRow + .formRow {
    margin-top: $pad4;
}

.formRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $pad2;

    .formInput {
        flex: 1 0 1px;
    }
}

.buttonRow {
    margin-top: $pad6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $pad4;
    text-align: center;
}

.successMessage {
    color: green;
    font-family: $text_main;
    font-size: $font_md;
}