@keyframes appear {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translate(0);
    }
}

.heading {
    height: 60px;
    background: $white;
    box-shadow: 0px 3px 18px 3px rgba(34, 60, 80, 0.2);

    .headingContent {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

    @media (min-width: $screen_sm) {
        display: none;
    }
}


.dialogContent {
    height: 100%;
    width: 100%;
    padding: $pad4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;

    background: $white;

    transition: transform .3s ease-in-out;
    transform: translateX(100%);
    animation: appear .3s ease-in-out;

    .closeIcon {
        position: absolute;
        top: $pad4;
        right: $pad4;
    }
    

    &.opened {
        transform: translateX(0);
    }

    .navigation {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: $pad4;    

        font-family: $text_accent;
        font-size: $font_xl;
    }
}
