.dialog {
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: initial;
    max-height: initial;
    background: transparent;

    &.closed {
        display: none;
    }
}

.dialog::backdrop {
    backdrop-filter: blur(4px);
}