.container {
    height: calc(100vh - 60px);
    position: relative;

    @media (max-width: $screen_sm) {
        height: calc(100vh - 80px);
    }

    .image {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
    }

    .content {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
            180deg,
            rgba(124, 80, 60, 0.7) 0%,
            rgba(124, 80, 60, 0.49) 100%
        );
    }
}
