---
export interface Props {
    title: string;
    currentPath: string;
}

import Header from '@/components/Header/index.astro';

const { title, currentPath } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body>
        <div id="body">
            <Header currentPath={currentPath} />

            <slot />

            <footer></footer>
        </div>
    </body>

    <style is:global lang="scss">
        @font-face {
            font-family: 'Oranienbaum';
            font-style: normal;
            font-weight: normal;
            src: local('Oranienbaum'),
                url('/fonts/Oranienbaum-Regular.ttf') format('truetype');
        }

        @font-face {
            font-family: 'Gotham';
            font-style: normal;
            font-weight: 400;
            src: local('gothampro'),
                url('/fonts/gothampro.ttf') format('truetype');
        }

        @font-face {
            font-family: 'Gotham';
            font-style: normal;
            font-weight: 500;
            src: local('gothampro_medium'),
                url('/fonts/gothampro_medium.ttf') format('truetype');
        }

        *,
        *::before,
        *::after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-style: inherit;
        }

        input,
        button,
        textarea {
            border: none;
            background: none;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: $black;
        }

        a:visited {
            color: initial;
        }

        html {
            font-weight: normal;
            font-family: 'Gotham', sans-serif;
            line-height: 1.6;
            background-color: $white;
            scrollbar-gutter: stable;
        }

        #body {
            overflow-x: hidden;
            position: relative;
        }

        footer {
            margin-top: $pad6;
        }
    </style>
</html>
