---
import { Container } from '@/uikit/Container/Container';
import Layout from './Layout.astro';

export type Props = {
    title: string;
    url: string;
};

const { title, url } = Astro.props;
---

<Layout title={title} currentPath={url}>
    <Container class="article-container">
        <slot />
    </Container>
</Layout>

<style is:global lang="scss">
    .article-container {
        h1,
        h2,
        h3,
        h4,
        h5 {
            text-align: center;
            font-family: $text_accent;
            padding: $pad8;
        }

        & > img {
            width: 100%;

            @media (min-width: $screen_xs) {
                padding: $pad4 $pad16;
            }
        }

        & > p {
            padding-top: $pad4;
            padding-bottom: $pad4;
            font-size: $font_sm;
            line-height: 1.6;

            @media (min-width: $screen_xs) {
                max-width: 80%;
                font-size: $font_md;
            }
        }

        & > blockquote {
            font-family: $text_accent;
            padding: $pad4;
            font-size: $font_md;
            padding-left: $pad8;
            color: $black;
            width: 100%;
            margin: $pad8 auto;
            position: relative;

            &::after {
                content: '';
                top: 0;
                left: 0;
                height: 100%;
                width: 2px;
                background: $black;
                position: absolute;
            }

            @media (min-width: $screen_xs) {
                font-size: $font_xl;
                width: 80%;
            }
        }
    }
</style>
