---
import { Image } from '@astrojs/image/components';
import { brands } from '@/data/brands';
import { Button } from '@/uikit/Button/Button';
import { DIALOG_ID_DATA_ATTRIBUTE, WithBrandDialog } from '../BrandDialog';
---

<ul class="brandsList">
    {
        brands.map((brand) => (
            <li class="brand">
                <Image
                    background="white"
                    src={brand.image.src}
                    height={120}
                    aspectRatio="16:9"
                    aria-hidden="true"
                    fit="contain"
                    loading="lazy"
                    alt=""
                />

                <p>{brand.name}</p>

                <Button
                    {...{ [DIALOG_ID_DATA_ATTRIBUTE]: brand.id }}
                    theme="light"
                    size="small"
                    class="brand__button"
                >
                    Подробнее
                </Button>
            </li>
        ))
    }
</ul>

<style lang="scss">
    .brandsList {
        margin: $pad8 0;

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: $pad10;
    }

    .brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: $pad2;

        .brand__button {
            width: fit-content;
        }
    }

    @media (min-width: $screen_sm) {
        .brandsList {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
