.brandsList {
    margin: $pad8 0;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: $pad10;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: $pad2;

    .brand__button {
        width: fit-content;
    }
}

@media (min-width: $screen_sm) {
    .brandsList {
        grid-template-columns: repeat(3, 1fr);
    }
}
