@keyframes appear {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.closeIcon {
    position: absolute;
    top: $pad4;
    right: $pad4;
}

.dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialogContent {
    max-width: 640px;
    margin: 0 $pad4;
    padding: $pad8;
    padding-top: $pad14;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;

    background: $white;

    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform: translateY(50px);
    opacity: 0;
    animation: appear .3s ease-in-out;

    &.opened {
        transform: translateY(0);
        opacity: 1;
    }
}

.brandLink {
    display: block;
    color: $firm;
    margin-top: $pad6;
}
